a,.tp-caption a.btn:hover {
	color: rgb(141, 81, 252);
}

.top-nav-collapse {
	background: rgb(141, 81, 252);
}

.navbar-custom .nav li a:hover{
  background: #eeeeee;
}

footer {
    background-color: rgb(141, 81, 252);
}
