---
title: Mithrid
layout: base
sectionTitle: Cutting-edge software advising and consulting.
---
{% include introPic.html %}

<section id="about" class="home-section text-center">
    <div class="container-fluid" style="max-width: 1300px">

        {% include sectionTitleTemplate.html %}

        <div class="container-fluid">
            <div class="row">
                <div id="contact" class="col-sm-4 col-sm-offset-4">
                    <div class="wow fadeInRight" data-wow-delay="0.2s">
                        <div class="widget-contact" class="text-center">
                            <h5>
                                <address style="font-size:110%">
                                    <a href="mailto:contact@mithrid.com">contact@mithrid.com</a>
                                </address>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
