<section id="caseStudies" class="home-section text-center bg-gray">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow fadeInDown" data-wow-delay="0.2s">
                    <div class="section-heading">
                        <h3>Case Studies</h3>
                        <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="max-width: 900px">

        <div class="row">
            <div class="col-sm-2" style="max-width: 300px; margin:auto">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="case-study-box">
                        <div class="service-desc">
                            <h4><a href="/services">Coding Circle</a></h4>
                            <p> TODO(Brendan)</p>
                        </div>
                        <div class="case-study-icon">
                            <a href="/services/consulting/index.html">
                                <img src="img/scenario01_easy.png"
                                     style="width: 100%; border-radius: 25px; border: 2px solid #c0c0c0"
                                     alt=""/>
                                <img src="img/scenario02.png"
                                     style="width: 100%; border-radius: 25px; border: 2px solid #c0c0c0"
                                     alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2" style="max-width: 300px; margin:auto">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="case-study-box">
                        <div class="service-desc">
                            <h4><a href="/outreach">Big Data Architecture</a></h4>
                            <p> DC/OS, MQTT, MySQL, PostgreSQL, Cassandra, ArangoDB, HDFS/Hadoop, Spark/Streaming </p>
                        </div>
                        <div class="case-study-icon">
                            <a href="/outreach"><img src="img/mathstock.jpg"
                                                     style="width: 100%; border-radius: 25px; border: 2px solid #c0c0c0"
                                                     alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
