<div class="wow fadeInUp" data-wow-delay="0.1s">
    <table class="plan table table-hover table-bordered table-striped text-center consulting-table">
        <thead>
        <tr>
            <th colspan="3"><h5>Tier</h5></th>
            <th colspan="1"><h5>Efficiency Advising</h5></th>
            <th colspan="1"><h5>Cloud Migration Plan</h5></th>
            <th colspan="1"><h5>Remote Code Reviews</h5></th>
            <th colspan="1"><h5>Remote Tech Lead</h5></th>
            <th colspan="1">
                <h5>
                    Onsite Tech Lead
                    <a href="#us-only"> <sup>1</sup> </a>
                </h5>
            </th>
            <th colspan="3"><h5>Pricing</h5></th>
        </tr>
        </thead>

        <tbody>

        <!-- Tier 1 -->
        <tr>
            <td colspan="3"><h5>1</h5></td>
            <td colspan="1">✔</td>
            <td colspan="1">✗</td>
            <td colspan="1">✗</td>
            <td colspan="1">✗</td>
            <td colspan="1">✗</td>
            <td colspan="4"><h5>$150/session</h5></td>
        </tr>

        <!-- Tier 2 -->
        <tr>
            <td colspan="3"><h5>2</h5></td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✗</td>
            <td colspan="1">✗</td>
            <td colspan="1">✗</td>
            <td colspan="4"><h5>Tier1 + $1000</h5></td>
        </tr>


        <!-- Tier 3 -->
        <tr>
            <td colspan="3"><h5>3</h5></td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✗</td>
            <td colspan="1">✗</td>
            <td colspan="4"><h5>Tier 2 + $5000/Team Member</h5></td>
        </tr>


        <!-- Tier 4 -->
        <tr>
            <td colspan="3"><h5>4</h5></td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✗</td>
            <td colspan="4">
                <h6>Priced by project size.</h6>
                <a href="/#contact">Request a quote.</a>
            </td>
        </tr>


        <!-- Tier 5 -->
        <tr>
            <td colspan="3"><h5>5</h5></td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="1">✔</td>
            <td colspan="4">
                <h6>Priced by project size and location.</h6>
                <a href="/#contact">Request a quote.</a>
            </td>
        </tr>

        </tbody>
    </table>

    <div id="us-only" style="text-align: left; padding-top: 5%;">
       <p> <sup>1</sup> : Contiguous United States only.</p>
    </div>
</div>
