<!--Adds copyright and link to top of page via #topOfPage href.-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="page-scroll marginbot-30">
                    <a href="#page-top" id="totop" class="btn btn-circle-bottom">
                        <i class="fa fa-angle-double-up animated"></i>
                    </a>
                </div>
                <p style="text-align:center">&copy; Copyright 2019 Mithrid LLC. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>