---
title: Mithrid Curriculum Design
layout: base
sectionTitle: Curriculum Design
---
<section id="consulting" class="home-section text-center">
    <div class="container-fluid" style="max-width: 900px">

        {% include sectionTitleTemplate.html %}

        <div class="row">
            <div class="col-sm-12 col-md-12" style="max-width: 900px; margin:auto">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5> Unique Educational Resources </h5>

                            <!--tab navbar-->
                            <ul class="nav nav-tabs" style="font-size:120%; font-weight:bold">
                                <li class="active"><a data-toggle="tab" href="#ccircle">Coding Circle</a></li>
                                <li><a data-toggle="tab" href="#bts">Behind The Scenes</a></li>
                            </ul>

                            <!--tabs-->
                            <div class="tab-content" style="padding-top:20px">

                                <!--result tab-->
                                <div id="ccircle" class="tab-pane active">
                                    <img class="rounded-image" src="/res/img/scenario01_easy.webp">
                                    <img class="rounded-image" src="/res/img/scenario02.webp">
                                </div>

                                <!--bts tab-->
                                <div id="bts" class="tab-pane">
                                    {% for image in site.static_files %}
                                        {% if image.path contains 'res/img/coding_circle_onsite' %}
                                            <img class="rounded-image" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
